.ax_shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_paragraph {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h2 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h3 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h4 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h5 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h6 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_text_link {
  color:#0000FF;
}
.ax_text_link_mouse_over {
}
.ax_text_link_mouse_down {
}
.ax_text_field {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_text_area {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_droplist {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_list_box {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_checkbox {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_radio_button {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_flow_shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_tree_node {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_html_button {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_hot_spot {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_inline_frame {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_dynamic_panel {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_master {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_repeater {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table_cell {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_menu {
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_horizontal_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_vertical_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.headline {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.title {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
.subheader {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
.body_2___menu {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.body_1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.caption {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
.primary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.secondary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.disabled_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.status_bar_light {
}
.title_bar_light {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.content_bg_light {
}
.dialog_light {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.primary_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.secondary_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.disabled_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.status_bar_dark {
}
.title_bar_dark {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
.content_bg_dark {
}
.dialog_dark {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
.card {
}
.float_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
.flat_button_pressed {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.flat_button_disabled {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.raised_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.raised_button_pressed {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.raised_button_disabled {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
.hint_text {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
